# Auto detect text files and perform LF normalization
* text=auto

# JavaScript files
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf

# Web files
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.sass text eol=lf

# Configuration files
*.yml text eol=lf
*.yaml text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# Markdown
*.md text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text eol=lf

# Fonts
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary